/* reset css and all css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 5.5rem;
}
/* selecyion sytle */
*::selection {
  background-color: var(--green-dark);
  color: var(--white);
}
/* scroll bar */
::-webkit-scrollbar {
  height: 0.3rem;
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--green-medium);
  border-bottom-left-radius: 2rem;
}

/* body and anothers */
body {
  height: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
/* font families */
h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
h2,
h3,
h4 {
  font-family: "Poppins", "Open Sans";
  font-weight: 500;
  text-transform: capitalize;
}

/* root variables */
:root {
  --white: #ffffff;

  --light-grey: lightgrey;
  --shadow-grey: #cecece;

  --dark-text: #353333;

  --black: black;

  --border-green: #77a797;
  --green-light: #18946f;
  --green-medium: #18dda2;
  --green-dark: #3dffc5;

  --blue-light: #346074;
  --blue-medium: #234049;
  --blue-dark: #122229;

  --shadow-low: rgba(0, 0, 0, 0.1);

  --bg-popup: #20a07a57;

  --red: #ff0202;
  --hover-bg: #ffffff8e;

  --text-primary: #003f5a;

  --card-bg: #f6fcff;
  --card-hover: #f7fbff;
  --card-shadow: #a4cddf;

  --button-bg: #003f5acb;

  --span-bg: rgba(219, 219, 219, 0.4);
}

button,
a,
.categories-card,
.disCard {
  transition: 0.3s ease;
}

/* header style */
header {
  margin: 0;
  padding: 1.2rem 2.5rem;
  width: 100%;
  background-color: var(--white);
  border-radius: 0 0 1rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 1000;
}
header.transparent {
  background-color: transparent;
  color: var(--white);
}
header.scrolled {
  background-color: var(--white);
  box-shadow: 0px 4px 10px var(--shadow-low);
  color: var(--black);
}

/* header section style */
.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* logo style */
.header-logo h1 {
  font-size: 2.1rem;
  text-transform: lowercase;
}
.header-logo span {
  /* color: #14d198; */
  color: var(--green-dark);
  font-size: 2.1rem;
}
.header-logo small {
  color: var(--light-grey);
  font-size: 1.7rem;
  text-transform: lowercase;
}
/* menu btns */
.menu-btns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.menu-btns i {
  font-size: 2rem;
  cursor: pointer;
  color: var(--green-dark);
}

/* navbar links style */
.navbar-links {
  /* display: flex; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  right: 0;
  top: 70px;
  transition: all 0.3s ease;
  display: none;
  z-index: 99;
  width: 100%;
  height: auto;
}

/* links transprent and scroll style */
.navbar-links.transparent {
  background-color: transparent;
  color: var(--white);
}
.navbar-links.scrolled {
  background-color: var(--white);
  color: var(--black);
  border-radius: 6px 0 0 6px;
}
.navbar-links.active {
  display: flex;
  background: var(--white);
  color: var(--blue-light);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 40px 0;
}

#header,
#navbar-links {
  transition:
    background 0.3s ease,
    color 0.3s ease;
}
.navbar-links a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition: 0.3s;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-right: 1.5rem;
}
.navbar-links a:hover {
  color: var(--green-medium);
  border: none;
  transition: 0.3s ease;
}

/* .home-section */
.home-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 200px;
  color: var(--white);
  text-align: center;
  background: linear-gradient(to right, #0a151a, #294b57, #35667a);
}
.home-section h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: cursive;
  padding: 0 3rem;
}
.home-section p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  opacity: 0.8;
  padding: 1.5rem 1rem;
}

/* search section style */
.search-section {
  display: flex;
  max-width: 350px;
  width: 100%;
  margin: 0 2rem;
  position: relative;
}
.search-section input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
  color: var(--blue-light);
}
.search-section button {
  padding: 10px 15px;
  border: none;
  background-color: var(--green-medium);
  color: var(--white);
  border-radius: 0 5px 5px 0;
  transition: 0.3s ease;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.search-section button:hover {
  background: var(--green-light);
}
.search-section button > i {
  margin-right: 6px;
}

/* popup box style */
.popup-box {
  background-color: var(--bg-popup);
  padding: 0.5rem 1rem;
  margin: 0;
  float: right;
  width: 300px;
  border-radius: 6px;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  animation: popup 0.6s ease-in forwards;
  animation-delay: 3s;
}
@keyframes popup {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
.popup-box h2 {
  font-size: 1.1rem;
}
.popup-box p {
  color: var(--white);
}
.popup-box p > a {
  color: rgb(21, 255, 0);
  opacity: 1;
  font-size: 0.9rem;
  margin-left: 6px;
}

/* .result-container style */
.result-container {
  background-color: rgba(255, 255, 255, 0);
  min-width: 300px;
  max-width: 460px;
  width: 100%;
  height: auto;
  max-height: 60vh;
  margin: 1.5rem auto;
  padding: 6px;
  border-radius: 6px;
  transition: 1s ease-out;
  overflow: auto;
  -ms-overflow-style: none;
  /* scrollbar-width: none; */
}
.result-container::-webkit-scrollbar {
  display: none;
}
.result-card {
  background-color: rgba(230, 255, 248, 0.1);
  padding: 3px 12px;
  width: 100%;
  margin: 12px 6px;
  border-radius: 0 6px 6px 0;
  text-align: center;
  display: none;
}
.result-card p {
  margin: 2px 0;
  margin-left: 5px;
  padding: 3px;
  text-align: center;
  color: var(--red);
  width: 100%;
  border-radius: 3px;
  opacity: 1;
  font-weight: 600;
  font-size: 1.2rem;
}
.result-card div > h2 {
  font-size: 1.3rem;
  display: block;
  flex-direction: row;
}
.result-card div > a {
  color: var(--green-dark);
}
.result-card div > a:hover {
  color: var(--white);
}
.result-card i {
  margin-left: 5px;
}
.result-card .disCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  padding: 3px 8px;
  border-radius: 4px;
  transition: 0.5s ease;
}
.disCard:hover {
  background-color: var(--hover-bg);
  transform: scale(1.03);
  border-left: 5px solid var(--green-dark);
}

/* .categories */
.categories-container,
.how-it-works,
.why-this {
  padding: 2rem 1.5rem;
}
.categories-container h1,
.how-it-works h1,
.why-this h1 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--text-primary);
  text-align: center;
}
.why-this h1 > span {
  color: var(--green-medium);
  margin-left: 6px;
}

/* .categories-card style */
.categories-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 20px;
}
.categories-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--card-bg);
  border-radius: 0.6rem;
  padding: 20px 1.5rem;
  box-shadow: 0px 0px 0.6rem var(--card-shadow);
  cursor: pointer;
  padding-bottom: 0;
  transition: 0.3s ease;
}
.categories-card:hover {
  background: var(--card-hover);
  transform: translateY(-5px);
  transition: 0.3s ease;
}
.categories-card h2 {
  font-size: 1.4rem;
  color: var(--text-primary);
}
.categories-card i {
  margin-right: 4px;
  font-size: 1.4rem;
}
.categories-card p {
  color: var(--dark-text);
  opacity: 0.6;
  padding: 12px 6px;
}
.categories-card button {
  padding: 8px;
  border: none;
  width: 100%;
  background-color: var(--button-bg);
  color: var(--white);
  border-radius: 5px;
  transition: 0.3s ease;
  margin: 6px auto;
}

/* how it works, why card style */
.how-it-cards,
.why-this-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  justify-content: center;
}
.how-it-card,
.why-this-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 0 0.6rem 0.6rem 0;
  padding: 12px 22px;
  margin: 6px 0;
  box-shadow: 0px 0px 0.4rem var(--card-shadow);
  cursor: pointer;
  transition: 0.3s ease;
  border-left: 12px solid var(--card-shadow, 0.5);
}
.how-it-card h3,
.why-this-card h3 {
  font-size: 1.3rem;
  color: var(--text-primary);
  font-weight: 700;
  display: block;
  margin-bottom: 12px;
}
.how-it-card h3 > span {
  opacity: 0.6;
}
.how-it-card h4 {
  text-align: center;
  margin: 12px 0;
  color: var(--blue-light);
  border-top: 1px solid var(--border-green);
  padding-top: 12px;
}
.how-it-card p {
  padding-top: 6px;
  color: var(--blue-light);
  opacity: 0.8;
  margin: 6px 0;
  word-spacing: 6px;
}

/* why this card style */
.why-this-card p {
  padding-top: 6px;
  color: var(--blue-light);
  opacity: 0.7;
  margin: 2px 0;
}
.why-this-card span {
  font-size: 1rem;
  background-color: var(--span-bg);
  color: var(--blue-medium);
  padding: 6px 16px;
  border-radius: 6px;
  font-weight: 600;
  margin-top: 12px;
}

footer {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  margin: 0;
  padding: 1rem;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  margin: 0 0;
}
.footer-top {
  margin-bottom: 50px;
}
.footer-top h1 {
  font-size: 2rem;
  text-transform: lowercase;
  color: var(--white);
}
.footer-top h1 > span {
  color: #15c590;
}
.footer-top small {
  color: var(--light-grey);
}
.footer-top p {
  color: var(--white);
  opacity: 0.6;
  margin: 8px 0;
}
.badge-levelup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 16px 3px;
  padding-top: 16px;
  flex-wrap: wrap;
  gap: 0px 32px;
  border-top: 2px solid var(--white);
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.badge-levelup p > i {
  color: var(--green-medium);
  margin-right: 3px;
}

.footer-card {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.footer-card h3 {
  font-size: 1.3rem;
  color: var(--white);
  margin-bottom: 4px;
}
.footer-card li {
  list-style-type: none;
  margin: 8px 6px;
}
.footer-card li a:hover {
  color: var(--green-dark);
  text-decoration: underline;
}
.footer-card a {
  color: var(--light-grey);
  opacity: 0.8;
  text-decoration: none;
  font-size: 1rem;
}
.footer-card i {
  margin-right: 8px;
}

.copy-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid var(--blue-light);
}
.copy-right p {
  text-align: center;
  color: var(--light-grey);
  font-size: 1rem;
}
.copy-right a {
  display: inline-block;
  color: #3aebb6;
  padding-right: 12px;
  margin-right: 3px;
  border-right: 2px solid var(--border-green);
}
.copy-right a:last-child {
  border: none;
}

/* Mobile first  0px - 575px 
large mobile / small tablets  @media (min-width: 576px){} 
tablets wlata @media (min-width: 768px){} 
laptop / small desktop @media (min-width: 992px) {}
large desktop @media(min-width: 1200px) {} */

@media (min-width: 768px) {
  .header-section {
    padding: 0;
    margin: 0;
  }
  .home-section {
    padding-top: 300px;
  }
  .search-section {
    display: flex;
    max-width: 400px;
    width: 100%;
    margin: 0 2rem;
    position: relative;
  }
  .categories-container,
  .how-it-works,
  .why-this {
    padding: 5% 10%;
  }
  .categories-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    gap: 20px;
    justify-content: center;
  }
  .how-it-card,
  .why-this-card {
    border: none;
    border-radius: 6px;
  }
  .how-it-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    justify-content: center;
  }
  .why-this-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .menu-btns {
    display: none;
  }
  .navbar-links {
    display: flex;
    flex-direction: row;
  }
  .navbar-links li {
    border: none;
    padding: 8px;
  }
  .home-section {
    padding-top: 400px;
  }
  .search-section {
    display: flex;
    max-width: 600px;
    width: 100%;
    margin: 0 2rem;
    position: relative;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
  }
  .navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 0;
  }
  .navbar-links a {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar-links a:hover {
    background-color: inherit;
    border-bottom: 2px solid var(--green-dark);
    color: var(--green-dark);
  }
  .menu-btns {
    display: none;
  }

  .categories-container,
  .how-it-works,
  .why-this {
    padding: 2% 15%;
  }
  .categories-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    gap: 20px;
    justify-content: center;
  }
  .categories-card:nth-last-child(2) {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .how-it-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .why-this-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
  }
}
